<div class="home">
<style>
p{
       text-align: justify;
      text-justify: inter-word;     
      margin: 20px;
      padding: 1px 160px 0px 160px; 																																																																																																																																												;
 }
</style>
<p>Welcome to the home of the <a href = "https://gcrnet.org/"> Research Computing's Solutions & Integration Team (RC-SIT) </a>, focused on finding solutions to inter-disciplinary projects at North Carolina State University. </p>

<p>
  <b>Research Computing Solutions and Integration</b> focuses  on designing, implementing, and connecting various computing technologies, systems, and tools specifically tailored to support inter-displinary scientific research, including high-performance computing (HPC), data analysis platforms, visualization tools, and specialized software, to enable efficient analysis and collaboration on large research computing projects across different research groups; essentially creating a seamless, integrated environment for researchers to access and utilize computational resources effectively.
</p>
<p>
  <b>Key aspects of Research Computing Solutions and Integration:</b>
</p>
<p> <b>High-Performance Computing (HPC):</b>
  Utilizing powerful computing clusters to handle computationally intensive tasks like simulations, modeling, and large-scale data analysis.
</p>
<p> 
  <b>Data Management Systems:</b>
  Secure, scalable storage solutions for managing vast amounts of research data, including data ingestion, organization, and access controls.
</p>
<p><b>Data Analysis Tools:</b>
  Dashboards for data representation, statistical analysis, visualization, and facilitation of  machine learning tailored to specific research disciplines.
</p>
<p>  
<b>Cloud Integration:</b>
Leveraging cloud computing platforms for flexible and scalable computing resources, allowing researchers to access processing power on-demand.
</p>
<p><b>Network Infrastructure:</b>
  High-speed network connections to facilitate fast data transfer between computing systems, research instruments, and collaborators.
  User Interface and Access Control:
  User-friendly interfaces for researchers to submit jobs, manage data, and access computing resources with appropriate security measures
</p>
<!--
<p>The gcrNet is designed to build upon the Science DMZ architecture developed by the <a href = "https://www.es.net/"> Energy Sciences Network (ESnet) </a> to meet the needs of high performance science applications in a network that is shared by multiple institutions.</p>
<p>The gcrNet operates under the governance of the Piedmont Regional Data Collaborative and the implementation 
  project is funded by the National Science Foundation, award #1925623.</p>
-->
</div>

																																																											
